In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [34]:
df=pd.read_csv(r"C:\Users\shash\Downloads\Datasets\athlete_events.csv")
region=pd.read_csv(r"C:\Users\shash\Downloads\Datasets\noc_regions.csv")

In [35]:
df=df[df["Season"]=="Summer"]

In [36]:
df.shape

(222552, 15)

In [37]:
df=df.merge(region,on='NOC',how="left")

In [38]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [39]:
df["region"].unique().shape

(206,)

In [40]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

## Medal Tally

In [41]:
df.duplicated().sum()

1385

In [42]:
df.drop_duplicates(inplace=True)

In [43]:
df.duplicated().sum()

0

In [44]:
pd.get_dummies(df["Medal"])

        Bronze  Gold  Silver
0            0     0       0
1            0     0       0
2            0     0       0
3            0     1       0
4            0     0       0
...        ...   ...     ...
222547       0     0       0
222548       0     0       0
222549       0     0       0
222550       0     0       0
222551       0     0       0

[221167 rows x 3 columns]

In [45]:
df=pd.concat([df,pd.get_dummies(df["Medal"])],axis=1)

In [46]:
df.groupby("NOC").sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False)

       Gold  Silver  Bronze
NOC
USA  2472.0  1333.0  1197.0
URS   832.0   635.0   596.0
GBR   635.0   729.0   620.0
GER   592.0   538.0   649.0
ITA   518.0   474.0   454.0
..      ...     ...     ...
AHO     0.0     1.0     0.0
LBR     0.0     0.0     0.0
LCA     0.0     0.0     0.0
LES     0.0     0.0     0.0
LBA     0.0     0.0     0.0

[230 rows x 3 columns]

In [47]:
df[(df['NOC']=="IND") & (df["Medal"]=='Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
4186,2699,Shaukat Ali,M,30.0,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
4190,2703,Syed Mushtaq Ali,M,22.0,165.0,61.0,India,IND,1964 Summer,1964,Summer,Tokyo,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
4460,2864,Richard James Allen,M,25.0,172.0,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
4461,2864,Richard James Allen,M,30.0,172.0,NaN,India,IND,1932 Summer,1932,Summer,Los Angeles,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
4462,2864,Richard James Allen,M,34.0,172.0,NaN,India,IND,1936 Summer,1936,Summer,Berlin,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191759,117232,Dung Dung Sylvanus,M,31.0,160.0,62.0,India,IND,1980 Summer,1980,Summer,Moskva,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
193964,118553,Carlyle Carrol Tapsell,M,23.0,182.0,NaN,India,IND,1932 Summer,1932,Summer,Los Angeles,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
193965,118553,Carlyle Carrol Tapsell,M,27.0,182.0,NaN,India,IND,1936 Summer,1936,Summer,Berlin,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
205949,125560,"Max ""Maxie"" Vaz",M,NaN,NaN,NaN,India,IND,1948 Summer,1948,Summer,London,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0
219336,133554,Sayed Muhammad Yusuf,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,Gold,India,NaN,0,1,0

'''problem with the dataset is that it is calculating medals for each individual in the team 
eg india win gold in hockey so its is calculating medals for each individual win alone so its gib=ving wierd results so now we are altering the table for more better analysis
'''

In [48]:
medal_tally=df.drop_duplicates(subset=["Team",'NOC','Games','Year','City','Sport','Event','Medal'])

In [49]:
medal_tally=medal_tally.groupby("NOC").sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [50]:
medal_tally[medal_tally['NOC']=='IND']

    NOC  Gold  Silver  Bronze
53  IND   9.0     7.0    12.0

In [51]:
years=df["Year"].unique().tolist()
years.sort()
years.insert(0,"overall")

In [52]:
country=np.unique(df['region'].dropna().values).tolist()

In [53]:
country.sort()

In [54]:
country.insert(0,"overall")

In [55]:
medal_df=df.drop_duplicates(subset=["Team",'NOC','Games','Year','City','Sport','Event','Medal'])
def fetch_medal_tally(year,country,df):
    medal_df=df.drop_duplicates(subset=["Team",'NOC','Games','Year','City','Sport','Event','Medal'])
    flag=0
    if year=="overall" and country=="overall":
        temp_df=medal_df
    if year=="overall" and country!="overall":
        flag=1
        temp_df=medal_df[medal_df["region"]==country]
    if year!="overall" and country=="overall":
        temp_df=medal_df[medal_df["Year"]==int(year)]
    if year!="overall" and country!="overall":
        temp_df=medal_df[(medal_df["Year"]==year) & (medal_df["region"]==country)]
    if flag==1:
        x=temp_df.groupby("Year").sum()[['Gold','Silver','Bronze']].sort_values('Year').reset_index()
    else:
        x=temp_df.groupby("region").sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
    x['Total']=x['Gold']+x["Silver"]+x["Bronze"]
    print(x)

In [56]:
fetch_medal_tally(year="overall",country='India',df)

SyntaxError: positional argument follows keyword argument (3441859454.py, line 1)

## Overall Analysis

In [60]:
nations_over_time=df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('index')

In [61]:
fig=px.line(nations_over_time,x='index',y='Year')
fig.show()

In [62]:
nations_over_time

    index  Year
28   1896    12
22   1900    31
27   1904    14
26   1906    20
25   1908    22
24   1912    29
23   1920    29
21   1924    45
20   1928    46
19   1932    47
18   1936    49
17   1948    59
16   1952    67
15   1956    71
13   1960    83
11   1964    93
10   1968   111
9    1972   120
12   1976    91
14   1980    80
8    1984   139
7    1988   156
6    1992   168
5    1996   196
4    2000   199
3    2004   200
2    2008   202
1    2012   203
0    2016   204

In [79]:
def most_successfull(df,sport):
    temp_df=df.dropna(subset=["Medal"])
    if sport!="overall":
        temp_df=temp_df[temp_df["Sport"]==sport]
    x= temp_df["Name"].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name',how='left')[["index","Name_x","Sport","region"]].drop_duplicates("index")
    x.rename(columns={'index':'Name',"Name_x":"Medals"},inplace=True)
    return x

In [80]:
most_successfull(df,"overall")

,Name,Medals,Sport,region
0,"Michael Fred Phelps, II",28,Swimming,USA
30,Larysa Semenivna Latynina (Diriy-),18,Gymnastics,Russia
49,Nikolay Yefimovich Andrianov,15,Gymnastics,Russia
73,Borys Anfiyanovych Shakhlin,13,Gymnastics,Russia
97,Takashi Ono,13,Gymnastics,Japan
130,Edoardo Mangiarotti,13,Fencing,Italy
144,"Dara Grace Torres (-Hoffman, -Minas)",12,Swimming,USA
157,Aleksey Yuryevich Nemov,12,Gymnastics,Russia
178,"Jennifer Elisabeth ""Jenny"" Thompson (-Cumpelik)",12,Swimming,USA
195,Birgit Fischer-Schmidt,12,Canoeing,Germany
208,Ryan Steven Lochte,12,Swimming,USA
222,Paavo Johannes Nurmi,12,Athletics,Finland
234,Sawao Kato,12,Gymnastics,Japan
258,Natalie Anne Coughlin (-Hall),12,Swimming,USA
270,"Matthew Nicholas ""Matt"" Biondi",11,Swimming,USA

## Country wise analysis

In [81]:
temp_df=df.dropna(subset=["Medal"])

In [82]:
temp_df.drop_duplicates(subset=["Team",'NOC','Games','Year','City','Sport','Event','Medal'],inplace=True)

C:\Users\shash\AppData\Local\Temp\ipykernel_12164\3716164445.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [84]:
temp_df[]
new_df.groupby('Year').count()['Medal']

Year
1896    120
1900    300
1904    280
1906    224
1908    322
1912    316
1920    449
1924    391
1928    356
1932    370
1936    422
1948    439
1952    457
1956    467
1960    461
1964    501
1968    527
1972    600
1976    613
1980    631
1984    685
1988    738
1992    814
1996    841
2000    925
2004    927
2008    963
2012    962
2016    973
Name: Medal, dtype: int64